/* This is based on https://github.com/airbnb/react-dates#overriding-styles */

/* NOTE: the order of these styles DO matter */

/* Will edit everything selected including everything between a range of dates */
.CalendarDay__selected_span {
  border: 1px solid
}

/* Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  border: 1px solid
}

/* Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  border: 1px solid
}

/* Will edit when hovered over. _span style also has this property */
.CalendarDay__selected_span:hover {
  border: 1px solid
}

/* Will edit the underline in the focused input box */
.DateInput_input__focused {
  border-bottom: 2px solid
}

/* Will edit when the second date (end date) in a range of dates */
/* is not yet selected. Edits the dates between your mouse and said date */
/* .CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: var(--omrs-color-interaction-minus-two);
} */
