.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
}

/* Hack inputs smaller than usual MFE */
.container input {
  max-height: 2.5rem;
}
.container select {
  max-height: 2.5rem;
}
/* End inputs hack */

.tableContainer {
  height: 500px;
  overflow-x: auto;
  margin: 0 1rem;
  border: 2px solid lightgrey;
  border-radius: 0.25rem;
}

.controlsContainer {
  display: flex;
  flex-wrap: wrap;
}

.inputContainer {
  display: flex;
  width: 50%;
  min-width: 300px;
  text-align: left;
  padding: 0 1rem;
}

.inputContainer label {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
}

.dateInputContainer {
  margin: 2rem 2rem 1rem 0;
}

.dropdown {
  width: 100%;
  height: 3.5rem;
  background: transparent;
  border: 1px solid var(--omrs-color-ink-lowest-contrast);
  background-clip: padding-box;
  border-radius: 2px;
  margin: 0;
}
.dropdown:disabled {
  opacity: 0.8;
  background: lightgrey;
  cursor: not-allowed;
}
.dropdown:focus {
  border: 2px solid var(--omrs-color-interaction);
  outline: 0;
}
